/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Amaranth', sans-serif;
}
h1 {
    text-align: center;
    color: aliceblue;
}
.btn {
    text-align: center;
}