<nav class="navbar navbar-dark bg-dark">
    <div class="container">
            <h1>Home</h1>

    </div>
</nav>
<br>

<div class="container">
  <div class="row">
        <form>
          <input type="text">
          <button type="submit"></button>
        </form>
    <div class="col-md-4">
      <img src="https://avatars2.githubusercontent.com/u/53858534?v=4
                    " alt="avatar" width="50%">
      <h5>{{profile.name}}</h5>
      <h5>{{profile.login}}</h5>
      <h6>{{profile.bio}}</h6>
      <h6>{{profile.location}}</h6>
      <h6>{{profile.email}}</h6>

    </div>
    <div class="col-md-8">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h6>Repositories: {{profile.public_repos}}</h6>
        <h6>Followers: {{profile.followers}}</h6>
        <h6>Following: {{profile.following}}</h6>
      </nav>

      <div class="repos" *ngFor = 'let repo of repos'>
        {{repo.name}}
      </div>



    </div>

  </div>


</div>
